<div *ngIf="SelectedTeacher">

  <div class="row">
    <div class="mr-auto">
      <app-title [title]="'Teacher:' + SelectedTeacher"></app-title>
    </div>
    <div class="mt-1">
      <button class="btn btn-warning" (click)="back()">Voltar</button>
    </div>
  </div>


  <form>
    <div class="form-group">
      <label for="formGroupExampleInput"> Nome</label>
      <input type="text" class="form-control"  placeholder="Example">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2"> Sobrenome</label>
      <input type="text" class="form-control"  placeholder="Another">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2"> Telefone</label>
      <input type="text" class="form-control" placeholder="Another">
    </div>
  </form>



</div>

<div *ngIf="!SelectedTeacher">
  <app-title [title]="title"></app-title>
  <table class="table table-hover">
    <thead clas="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Subject</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor= "let teacher of teachers" style="cursor:pointer;" (click)="selectTeacher(teacher)">
        <th scope="row">{{teacher.id}}</th>
        <td>{{teacher.name}}</td>
        <td>{{teacher.subject}}</td>
      </tr>
      
    </tbody>
  </table>
</div>
