<div class="row">

  <div  class="col-sm-6" *ngIf="SelectedStudent">
    <div class="row">
      <div class="mr-auto">
        <app-title [title]="'Cód.Aluno: ' + SelectedStudent.id"></app-title>
      </div>
    </div>
    
    
    
    <form [formGroup]="studentForm" (submit)="submitStudent()">
      <div class="form-group">
        <label for="formGroupExampleInput"> Nome </label>
        <input type="text" formControlName="name" class="form-control">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2"> Sobrenome </label>
        <input type="text" formControlName="lastName" class="form-control">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput3"> Telefone </label>
        <input type="text" formControlName="phoneNumber"  class="form-control"  placeholder="X">
      </div>
      <div>
        <div class="form-group">
          <hr>
          <button class="btn btn-outline-success" [disabled]="!studentForm.valid" style="margin: 0 15px;">Enviar</button>
          <button class="btn btn-outline-danger" (click)="back()">Cancelar</button>
        </div>
      </div>
    </form>
    
    
    <br>
  </div>
  
  <div [ngClass]="{'col-sm-6': SelectedStudent, 'col=sm-12': !SelectedStudent}">
    <app-title [title]="title"></app-title>
    <table class="table table-hover">
      <thead clas="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Sobrenome</th>
          <th scope="col">Telefone</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor= "let student of students">
          <th scope="row">{{student.id}}</th>
          <td>{{student.name}}</td>
          <td>{{student.lastName}}</td>
          <td>{{student.phoneNumber}}</td>
          <td>
            <div class="btn-group">
              <button class="text-dark  btn btn-sm btn-outline-warning" style="margin: 0 4px;" (click)="selectStudent(student)">Detalhe</button>
              <button class="btn  btn-sm btn-outline-primary"  style="margin: 0 4px;" (click)="openModal(template)">Professores</button>
              <button class="btn btn-sm btn-outline-danger" style="margin: 0 4px;" >Desativar</button>
            </div>
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>
  
</div>

 
<ng-template #template>
  <div class="modal-body">
    <app-teachers></app-teachers>
  </div>
  
  <div class="modal-footer">
    
    <button type="button" class="btn pull-right" aria-label="Close" (click)="modalRef.hide()">
      FECHAR
    </button>
  </div>
</ng-template>