<div *ngIf="SelectedStudent">
   <div class="row">
    <div class="mr-auto">
      <app-title [title]="'Aluno:' + SelectedStudent"></app-title>
    </div>
    <div class="mt-1">
      <button class="btn btn-warning" (click)="back()">Voltar</button>
    </div>
  </div>




  <form>
    <div class="form-group">
      <label for="formGroupExampleInput"> Nome</label>
      <input type="text" class="form-control"  placeholder="Example">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2"> Diciplina</label>
      <input type="text" class="form-control"  placeholder="Another">
    </div>
  </form>
</div>





<div *ngIf="!SelectedStudent">
  <app-title [title]="title"></app-title>
  <table class="table table-hover">
    <thead clas="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Sobrenome</th>
        <th scope="col">Telefone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor= "let student of students" style="cursor:pointer;" (click)="selectStudent(student)">
        <th scope="row">{{student.id}}</th>
        <td>{{student.name}}</td>
        <td>{{student.lastName}}</td>
        <td>{{student.phoneNumber}}</td>
      </tr>
      
    </tbody>
  </table>
</div>
